.contactUs {
    padding: 5vh 10vw;
    background-color: rgb(255, 162, 162);
    h1 {
        text-align: center;
        margin-top: 0;
    }
    text-align: center;
    .contactUsWraper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        .breakContact {
            flex: 1; 
            display: flex;
            flex-direction: row;
            height: 100%;
            .contactCard {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
         }
    }
}