@import url("https://fonts.googleapis.com/css?family=Jura:400");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  // font-family: Jura, Arial;
  // font-family: 'Noto IKEA',sans-serif;
  // font-family: "Qarmic sans Regular", "Comic Sans";
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 400;
}

p {
  font-weight: 500;
}